/* Large desktops and laptops */
@media screen and (min-width: 1200px) {
    .alertToDo {
        height: 180px;
    }
}

/* Landscape tablets and medium desktops */
@media screen and (min-width: 992px) and (max-width: 1199px) {
    .alertToDo {
        height: 180px;
    }
}

/* Portrait tablets and small desktops */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .alertToDo {
        height: 180px;
    }

    .modal-body textarea {
        max-width: 100%;
    }
}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {
    .alertToDo {
        height: 180px;
    }

    .modal-body textarea {
        max-width: 100%;
    }
}

/* Portrait phones and smaller */
@media screen and (max-width: 480px) {
    .alertToDo {
        height: 230px;
    }
    .info {
        border: none;
        text-align: left;
    }

    .modal-body textarea {
        max-width: 100%;
    }

    .headlines {
        margin-top: 50px;
    }
}