*
{
   font-family: 'Cantarell', sans-serif;
   margin-bottom: 0;
   margin-top: 0;
}

.mybg {
	background: rgb(60,181,202); /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  rgba(60,181,202,1) 0%, rgba(41,145,164,1) 33%, rgba(40,116,130,1) 66%, rgba(37,86,101,1) 100%); /* FF3.6-15 */
	background: -webkit-radial-gradient(center, ellipse cover,  rgba(60,181,202,1) 0%,rgba(41,145,164,1) 33%,rgba(40,116,130,1) 66%,rgba(37,86,101,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: radial-gradient(ellipse at center,  rgba(60,181,202,1) 0%,rgba(41,145,164,1) 33%,rgba(40,116,130,1) 66%,rgba(37,86,101,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3cb5ca', endColorstr='#255665',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.center-block {
   float: none;
}

.add {
	background-color: #000;
	color: #fff; 
}

button.save:active {
	transform: translateY(1px); 
}


.login {
	margin-top: 80px;
}

/* navigation  */
header.header1 {
	background-color:  #296E7D;
	box-shadow: 0 10px 7px #25505D;
}

.header1 {
	width: 100%;
	color: #eee;
	height: 52px;
	margin-bottom: 20px;
}

.header1 a {
	color: #eee;
}

.header1 a:hover {
	color: #000;
}

.navbar-toggle span {
	background-color: #eee;
}

nav ul li a {
	background-color: #296E7D;
}

.navbar-inverse {
	border: none !important;
}

a.navbar-brand.idea:focus {
	color: #000;
}

.idea {
	color: #fff;
}

.updateTime {
	color: #000;
	position: absolute;
	right: 20px;
	top: 10px;
}

.updateLogin {
	margin: 0 auto;
}

.updateHeader {
	background-color: #eee;
	color: #000;
}


/* home */
.directIcon {
	margin-left: 5px;
}

.directIcon:hover {
	color: #eee;
	cursor: pointer;
}

.directIcon:active {
	color: #eee;
	cursor: pointer;
	transform: translateY(1px); 
}

.mybgtitle {
	height: 130px;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

.mybgtitle h4 {
	position: relative;
	top: -80px;
}

.pencil {
	background-color: rgba(226,230,229, 0);
	color: #000;
	position: absolute;
	right: 0;
	bottom: 0;
    transform: scale(1.00,1.00);
    transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.pencil:hover {
	color: red !important;
    transform: scale(1.35,1.37);
    -webkit-transform: scale(1.35,1.37);
    -moz-transform: scale(1.35,1.37);
}

.times {
	background-color: rgba(226,230,229, 0);
	color: #000;
	position: absolute;
	right: 0;
	top: 0;
    transform: scale(1.00,1.00);
    transition-timing-function: ease-out;
    transition-duration: 200ms;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 200ms;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 200ms;
}

button.btn.btn-xs.times:hover {
	color: red !important;
	transform: translateY(1px);
    transform: scale(1.80,1.87);
    -webkit-transform: scale(1.80,1.87);
    -moz-transform: scale(1.80,1.87);
}

/*.alert {
	border: none !important;
}*/

.alertToDo {
	margin-bottom: 20px;
	padding-top: 5px;
	z-index: 0;
	border-top: 20px solid #FEA800;
	box-shadow: -3px 1px 8px #888;
	border-radius: 0 !important;
}

.modal-header.colorModal0 {
	background-color: #FEA800;
	text-align: center;
}

.alertWentWell {
	border-top: 20px solid #90CB3F;
}

.modal-header.colorModal2 {
	background-color: #90CB3F;
	text-align: center;
}

.alertToImprove {
	border-top: 20px solid #EA5334;
}

.modal-header.colorModal1 {
	background-color: #EA5334;
	text-align: center;
}

.grab {
 	cursor: -webkit-grab !important; 
 	cursor:-moz-grab;
}

.grab:active {
	cursor: -webkit-grabbing !important; 
	cursor:-moz-grabbing;
}

.no-drop {
	cursor: no-drop;
}

.boxToDo,
.boxToImprove,
.boxWentWell {
	box-shadow: 5px 8px 6px   #25505D;
	color: #353031;
	font-size: 14px;
	background-color: #E2E6E5;
	margin-bottom: 30px !important;
}

.sticky {
	position: relative;
	padding: 5px;
	padding-right: 30px;
}

.dropable {
	min-height: 700px !important;
	height: 100%;
}

.inf {
	padding: 0 !important;
	margin: 0;
}

.info {
	height: 34px;
	border-right: 1px solid #fff;
	color: #fff;
	text-align: center;
}

.search {
	padding-right: 20px;
}

.glyphicon-search {
	padding-right: 20px;
}

.row.visible-lg-block {
	cursor: pointer;
}

.wordWrap {
	width: 91.66666667%;
	word-wrap: break-word;
}

.headlines {
	margin-top: 30px;
	margin-bottom: 30px;
	color: #eee;
	font-size: 21px;
}

.customPadding {
	padding-left: 5px !important;
	padding-right: 5px !important;
}

.btn-add {
	box-shadow: 0 2px 3px #25505D;
	transform: scale(1.00,1.00);
	transition-timing-function: ease-out;
    transition-duration: 250ms;
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
}

.btn-add:hover {
	color: green !important;
	transform: translateY(1px);
    transform: scale(1.05,1.07);
    -webkit-transform: scale(1.05,1.07);
    -moz-transform: scale(1.05,1.07);
}

.btn-add:active {
	color: green !important;
	transform: translateY(1px); 
}

button.btn.add.center-block {
	color: #fff;
}

button.btn.add.center-block:active {
	background-color: #353031;
	transform: translateY(1px); 
}