<div class="col-lg-0 visible-lg-block directIcon">
		<i class="fa fa-angle-double-right fa-2x" aria-hidden="true" ng-click="showPicture = !showPicture"></i>
</div>

<div class="container center-block">

	<div class="row search">
		<div class="text-left inf">
			<div class="col-xs-3 col-sm-2 col-sm-push-5 col-md-1 col-md-push-7 col-lg-1 col-lg-push-8 info">TEAM: 10</div>
			<div class="col-xs-3 col-sm-2 col-sm-push-5 col-md-1 col-md-push-7 col-lg-1 col-lg-push-8 info">SPRINT: 2</div>
			<div class="col-xs-6 col-sm-3 col-sm-push-5 col-md-3 col-md-push-7 col-lg-2 col-lg-push-8 form-group has-feedback has-feedback-left">
		        <input type="text" class="form-control" ng-model="filterText" placeholder="Search..."/>
		        <i class="form-control-feedback  glyphicon glyphicon-search"></i>
	        </div>
	    </div>
		<p>&nbsp;</p>
	</div>

<!-- =========================================== Ribbon-Hello ==================================================== -->	
	<div class="row visible-lg-block" ng-show="showPicture">
		<div class="col-lg-4 col-lg-offset-4 text-center mybgtitle" ng-click="hiddenPicture()">
				<img src="css/img/ribbon_hello.png" class="img-responsive">
				<h4><b><i class="fa fa-user" aria-hidden="true"></i> Hello {{currentUser}} !</b></h4>
			   <br>			   
		</div>
	</div>	


<!-- =========================================== AddModal ==================================================== -->					  
	<form ng-submit="addMessage()">
		<div class="modal fade" id="notesModal" tabindex="-1" role="dialog">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
				  <div class="modal-header"  ng-class="colorModalHeader">
						<span><h4>Add message</h4></span>
				  </div>
				  <div class="modal-body text-center">
						  <textarea  name="limitedtextarea" rows="6" cols="60" type="textarea" placeholder="Enter a note..." ng-model="message" ng-trim="false"></textarea>
					<br>
						<font size="1">(Maximum characters: 110)<br>								
						You have {{leftCharacters}} characters left.</font>
				  </div>
				  <div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearAddMessage()">Close</button>
					<button type="submit" class="btn add save">Save</button>
				  </div>
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div><!-- /.modal -->
	</form>

<!-- ======================================= to do =========================================== -->

	<div class="row">
	   	<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center dropable" dropable data-table="toDo" drop="handleDrop(fromTable, toTable, id, text, reporter)">
			<h3 class="headlines"><strong>to do</strong></h3>			   
			<button type="button" class="btn btn-add boxToDo btn-sm" data-toggle="modal" data-target="#notesModal" ng-click="condition(0); colorModalHeader='colorModal0'"><span class="glyphicon glyphicon-plus text-center"></span></button>
			<div class="row">							
				<div class="col-xs-6 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-0 customPadding" ng-repeat="item in toDo | filter : filterText" ng-attr-draggable="{{item.reporter == currentUserID || role == 'admin' || undefined }}" ng-attr-data-transfer="{{item.reporter  == currentUserID || role == 'admin' ? item : null}}">					
					<div class="alertToDo text-left boxToDo wordWrap sticky" ng-class="item.reporter == currentUserID || role == 'admin'? 'grab' : 'no-drop' ">
						<button ng-if="item.reporter == currentUserID || role == 'admin' " type="button" class="btn btn-xs pencil" data-toggle="modal" data-target="#updateModal" ng-click="readOneItem('toDo', item)"><span class="glyphicon glyphicon-pencil text-left"></span></button>
						<button ng-if="item.reporter == currentUserID || role == 'admin'" type="button" ng-click="removeMessage('toDo', item)" class="btn btn-xs times"><strong>&times;</strong></button>									
						{{item.text}}								
					</div>
				</div>
			</div>
	    </div> 
	
<!-- ======================================== went well =========================================== -->

	    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center dropable" dropable data-table="wentWell" drop="handleDrop(fromTable, toTable, id, text, reporter)">
	        <h3 class="headlines"><strong>went well</strong></h3>				
			<button type="button" class="btn btn-add boxWentWell btn-sm" data-toggle="modal" data-target="#notesModal" ng-click="condition(2); colorModalHeader='colorModal2'"><span class="glyphicon glyphicon-plus text-center"></span>
			</button>
			<div class="row">					
				<div class="col-xs-6 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-0 customPadding" ng-repeat="item in wentWell | filter : filterText" ng-attr-draggable="{{item.reporter == currentUserID || role == 'admin' || undefined }}" ng-attr-data-transfer="{{item.reporter  == currentUserID || role == 'admin' ? item : null}}">					
					<div class="alertToDo alertWentWell text-left boxWentWell wordWrap sticky" ng-class="item.reporter == currentUserID || role == 'admin'? 'grab' : 'no-drop' ">
						<button ng-if="item.reporter == currentUserID || role == 'admin'" type="button" class="btn btn-xs pencil" data-toggle="modal" data-target="#updateModal" ng-click="readOneItem('wentWell', item)"><span class="glyphicon glyphicon-pencil text-left"></span></button>
						<button ng-if="item.reporter == currentUserID || role == 'admin'" type="button" ng-click="removeMessage('wentWell', item)" class="btn btn-xs times"><strong>&times;</strong></button>
						{{item.text}}	
					</div>
				</div>				 								
			</div>
	    </div>
		
<!-- ======================================= to improve =========================================== -->

	    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 text-center dropable" dropable data-table="toImprove" drop="handleDrop(fromTable, toTable, id, text, reporter)">
	        <h3 class="headlines"><strong>to improve</strong></h3>			    
			<button type="button" class="btn btn-add boxToImprove btn-sm" data-toggle="modal" data-target="#notesModal" ng-click="condition(1); colorModalHeader='colorModal1'"><span class="glyphicon glyphicon-plus text-center"></span>
			</button>	
			<div class="row">					
				<div class="col-xs-6 col-sm-10 col-sm-push-1 col-md-8 col-md-push-2 col-lg-6 col-lg-push-0 customPadding" ng-repeat="item in toImprove | filter : filterText" ng-attr-draggable="{{item.reporter == currentUserID || role == 'admin' || undefined }}" ng-attr-data-transfer="{{item.reporter  == currentUserID || role == 'admin' ? item : null}}">					
					<div class="alertToDo alertToImprove text-left boxToImprove wordWrap sticky" ng-class="item.reporter == currentUserID || role == 'admin'? 'grab' : 'no-drop' ">
						<button ng-if="item.reporter == currentUserID || role == 'admin'" type="button" class="btn btn-xs pencil" data-toggle="modal" data-target="#updateModal" ng-click="readOneItem('toImprove', item)"><span class="glyphicon glyphicon-pencil text-left"></span></button>
						<button ng-if="item.reporter == currentUserID || role == 'admin'" type="button" ng-click="removeMessage('toImprove', item)" class="btn btn-xs times"><strong>&times;</strong></button>	
						{{item.text}}	
					</div>					
				</div>					
			</div>
	    </div>

<!-- =========================================== UpdateModal ==================================================== -->
		<div class="modal fade" id="updateModal" tabindex="-1" role="dialog">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		          <div class="modal-header text-center" ng-class="{'colorModal0': tableNumber==0, 'colorModal1': tableNumber==1, 'colorModal2': tableNumber==2 }">
		          		<span><h4>Update message</h4></span>
		          </div>
		          <div class="modal-body text-center">						          	
			          	<textarea name="limitedtextarea2" rows="6" cols="60" type="textarea" ng-model="text" ng-trim="false"></textarea>
			          	<br>
							<font size="1">(Maximum characters: 110)<br>								
							You have {{leftCharacters}} characters left.</font>
		          </div>
		          <div class="modal-footer">
		            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		            <button type="button" class="btn add save" ng-click="updateMessage()">Update</button>
		          </div>
		        </div><!-- /.modal-content -->
		    </div><!-- /.modal-dialog -->
		</div><!-- /.modal -->


	</div>	
</div>